#carrito {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    z-index: 1000;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#carrito.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}
