:root {
    --fuente-principal: "Jura", sans-serif;
    --fuente-fuerte: "Archivo Black", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    font-family: var(--fuente-principal);

    main {
        flex: 1;
        background-color: white;
        margin-top: 4%;

        a:hover {
            color: #665a69;
        }
    }

}

.diseNos {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}

.diseNos nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.diseNos a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.diseNo a img {
    width: 80%;
    aspect-ratio: 1/1;
}

.diseNos h2 {
    text-align: start;
    height: 2rem;
}
