:root {
    --fuente-principal: "Jura", sans-serif;
    --fuente-fuerte: "Archivo Black", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    font-family: var(--fuente-principal);

    header {
        padding: 0;
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 100;

        a {
            color: white;
        }

    }

}

/* header */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 1rem 20rem;
}

.hp1 {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hp2 {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hp1 img {
    display: flex;
    align-items: center;
}

.hp2 img {
    height: 1rem;
    width: 1rem;
    padding: none;
}

/* @media (max-width: 1023px) {

    header nav {
        gap: 1rem 15rem;
    }

}

@media (max-width: 767px) {

    

} */