:root {
    --fuente-principal: "Jura", sans-serif;
    --fuente-fuerte: "Archivo Black", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    font-family: var(--fuente-principal);

    header {
        padding: 0;
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 100;

        a {
            color: white;
        }

    }

    main {
        flex: 1;
        background-color: white;

        a:hover {
            color: #665a69;
        }
    }

    footer {
        padding: 1rem;
        background-color: #D9D9D9;

        a:hover {
            color: #ffffff;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #DBFF73;
    }

}

/* header */

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 30rem;
}

.hp1 {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hp2 {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.hp1 img {
    display: flex;
    align-items: center;
}

.hp2 img {
    height: 1rem;
    width: 1rem;
    padding: none;
}

/* main */

.inicio {
    background-color: #DBFF73;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-fuerte);
    font-size: 36px;
}

.diseNos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.diseNos nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.diseNo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.diseNos a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.diseNo img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

main button {
    background-color: #DBFF73;
    border-radius: 50px;
    border: none;
    padding: 5px 20px;
    font-family: var(--fuente-principal);
    font-size: 1rem;
    cursor: pointer;
    color: black;
    display: inline-block;
    width: 9.375rem;
    height: 2.5rem;
}

main button:hover {
    background-color: #657536;
    color: white;
    transition: 0s;
}

main button:active {
    background-color: #ffffff;
    color: #7B7B7B;
    transition: 0s;
}

.diseNos h3 {
    text-align: start;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 2%;
    height: 2%;
    object-fit: cover;
}

.contacto {
    display: flex;
    flex-direction: row;
    gap: 20rem;
    align-items: center;
    padding: 2rem;
}

.redes-sociales,
.accesos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}